/* Created by: Theo Rafuse
* Created on: Apr 2023
* This css file defines the style of index.html
* Unit5-01-HTML-NumberDisplay
*/

body {
  background-color: hsl(94deg 95% 35%);
}

/* style for my header */
h1 {
  background-color: #08b07c;
  color: #0014a8;
  text-align: center;
  padding: 40px;
  font-size: 40px;
}

p {
  color: #0014a8;
  font-size: 150%;
}

h3 {
  color: #0014a8;
  font-size: 130%;
}

img {
  position: absolute;
  left: 20%;
}
